# Webpack compiled bundle directory
dist/*

# Node Modules
node_modules/*

# Babel transpiled files in project root
/gatsby-ssr.js
/plugin-config.js
/smartertrack-live-chat-html.js
/smartertrack-live-chat-script.js
/smartertrack-whos-on-script.js