# Dependency directory
node_modules

# Code coverage for Istanbul
coverage
.nyc_output

# Webpack compiled bundle directory
dist

# MS VS Code editor config/options
# .vscode

# Apple MAC hidden files
.DS_Store

# Babel transpiled files in project root
/gatsby-ssr.js
/plugin-config.js
/smartertrack-live-chat-html.js
/smartertrack-live-chat-script.js
/smartertrack-whos-on-script.js

# coveralls config file
.coveralls.yml